<!-- footer.component.html -->
<footer class="footer mt-5">
    <div class="container">
      <div class="footer-content">
        <div class="footer-section about">
          <h2 class="logo-text">WikiMuscle</h2>
          <p>
            Benvenuti a Muscle Wiki, la tua enciclopedia dei muscoli. Qui troverai spiegazioni dettagliate sugli esercizi e sui macchinari per il fitness.
          </p>
          <div class="contact">
            <span><i class="fas fa-phone"></i> &nbsp; +39 327-083-5981</span>
            <span><i class="fas fa-envelope"></i> &nbsp; mdicandia89@gmail.com</span>
          </div>
        </div>
        <div class="footer-section links">
          <h2>Link Utili</h2>
          <br>
          <ul>
            <a href="#"><li>Home</li></a>
            <a href="#"><li>Servizi</li></a>
            <a href="#"><li>Chi Siamo</li></a>
            <a href="#"><li>Contatti</li></a>
            <a href="#"><li>Privacy Policy</li></a>
          </ul>
        </div>
        <div class="footer-section social">
          <h2>Social Media</h2>
          <br>
          <div class="social-links">
            <a href="#"><i class="fs-3 bi bi-facebook"></i></a>
            <a href="#"><i class="fs-3 bi bi-twitter"></i></a>
            <a href="#"><i class="fs-3 bi bi-instagram"></i></a>
            <a href="#"><i class="fs-3 bi bi-linkedin"></i></a>
          </div>
        </div>
      </div>
      <div class="footer-bottom">
        &copy; 2024 | Tutti i diritti riservati
      </div>
    </div>
  </footer>
  