<nav class="navbar navbar-expand-lg shadow-sm bg-light p-0 color mt-3 mb-3 rounded-5">
    <div class="container-fluid">
        <a class="navbar-brand" [routerLink]="['/']">
            <img src="../../../assets/img/x.png" alt="Bootstrap" class="img-icon rounded-5">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse pb" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link color-text" aria-current="page" [routerLink]="['/']" routerLinkActive="active"
                       [routerLinkActiveOptions]="{ exact: true }">Home</a>
                </li>
                <li class="nav-item" [attr.data-bs-toggle]="!user ? 'tooltip' : null" [attr.title]="!user ? 'Please register to view' : null">
                    <a [class.disabled]="!user" class="nav-link color-text" [routerLink]="user ? ['/products'] : null" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Prodotti</a>
                </li>
                <li class="nav-item" [attr.data-bs-toggle]="!user ? 'tooltip' : null" [attr.title]="!user ? 'Please register to view' : null">
                    <a [class.disabled]="!user" class="nav-link color-text" [routerLink]="user ? ['/WikiMuscle'] : null" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">WikiMuscle</a>
                </li>
            </ul>
            <!-- Middle-aligned items -->
            <div class="d-flex mx-auto">
                
            </div>
    
            <!-- Right-aligned items -->
            <div class="d-flex">
                <p *ngIf="user" class="color-text-1 mx-3 mt-3"><i class="bi bi-person-circle pt-4"></i>&nbsp;{{ user.user.name }}</p>
                <a *ngIf="user" class="nav-link color-text" [routerLink]="['/cart']" routerLinkActive="active">
                    <i class="bi bi-cart"></i> Carello
                </a>
                <button *ngIf="user" type="button" class="btn btn-sm btn-outline-dark ms-3 p-1 px-2 rounded-4" (click)="logout()">LOGOUT</button>
                <a *ngIf="!user" class="btn btn-outline-dark rounded-4 ms-3 p-2 px-3 rounded-4 b" [routerLink]="['/login']" routerLinkActive="active">Login</a>
                <a *ngIf="!user" class="btn btn-outline-dark rounded-4 ms-3 p-2 px-3 rounded-4 b" [routerLink]="['/signup']" routerLinkActive="active">Registrati</a>
            </div>
        </div>

    </div>
</nav>