<div class="img-container rounded-5">
    <img src="assets/img/workout-limitless-endurance-gym-colorful-smoke-3556x2000-929.jpg" class="img-fluid custom-img" alt="">
</div>

<div class="text-center text-white bg-coustom mt-5 rounded-5">
    <h1>WikiMachine</h1>
</div>


<div class="container px-5 mt-5 img rounded-5 text-white p-3  mb-5 w-90">
    <div class="row">
        <div class="col-12">
            <div class="text-center mb-5">
                <h1>Leg Press</h1>
                <img src="assets/img/woman-using-Mirafit-Leg-Press-Machine-1024x683.jpg" class="img-fluid rounded-5" alt="">
            </div>
              
            <p>
                La <strong>Leg Press</strong> è una macchina da palestra progettata per l'allenamento delle gambe, in particolare dei quadricipiti, dei glutei e dei muscoli posteriori della coscia (hamstring). Questo macchinario consente di eseguire esercizi di pressa delle gambe in modo sicuro e controllato, riducendo il rischio di infortuni rispetto ai pesi liberi.
            </p>
            <h2>Come Usare la Leg Press</h2>
            <ol>
                <li>Siediti sulla macchina con la schiena ben appoggiata allo schienale e i piedi posizionati sulla piattaforma alla larghezza delle spalle.</li>
                <li>Assicurati che le ginocchia siano leggermente piegate e non completamente estese.</li>
                <li>Regola il sedile in modo che le gambe formino un angolo di circa 90 gradi quando la piattaforma è vicina al corpo.</li>
                <li>Spingi la piattaforma lontano dal corpo estendendo le gambe, senza bloccare completamente le ginocchia alla fine del movimento.</li>
                <li>Ritorna lentamente alla posizione di partenza piegando le ginocchia, mantenendo il controllo del movimento.</li>
                <li>Ripeti l'esercizio per il numero desiderato di ripetizioni, mantenendo sempre una forma corretta.</li>
            </ol>
            <p>
                La Leg Press è particolarmente utile per sviluppare la forza e la massa muscolare nelle gambe, ed è adatta sia ai principianti che agli atleti avanzati. Tuttavia, è importante eseguire l'esercizio con una tecnica corretta per evitare stress eccessivi sulle ginocchia e sulla schiena.
            </p>
        
            <iframe class="rounded-5" width="560" height="315" src="https://www.youtube.com/embed/LMTyPl_oo38?si=UtLOb9Og8PZWoi_3" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        </div>
    </div>
</div>
<div class="container px-5 mt-5 img rounded-5 text-white p-3 w-90">
    <div class="content">
        <div class="row">
            <div class="col-12">
                <div class="text-center mb-5">
                    <h1> Lat Pulldown</h1>
                    <img src="assets/img/Macchine-2.0-10.png" class="img-fluid rounded-5" alt="Lat Pulldown Machine">
                </div>

                <p>
                    La <strong>Lat Pulldown</strong> è una macchina da palestra progettata per l'allenamento della schiena, in particolare del grande dorsale, dei bicipiti e dei muscoli del trapezio. Questo macchinario permette di eseguire trazioni controllate, rendendo l'esercizio accessibile a utenti di tutti i livelli, dai principianti agli atleti avanzati.
                </p>
                <h2>Come Usare la Lat Pulldown</h2>
                <ol>
                    <li>Siediti sulla macchina con i piedi ben appoggiati a terra e le cosce fissate sotto i supporti imbottiti.</li>
                    <li>Afferra la barra con una presa ampia, con i palmi delle mani rivolti in avanti (presa prona).</li>
                    <li>Inclina leggermente il busto indietro mantenendo la schiena dritta e il core attivato.</li>
                    <li>Tira la barra verso il basso fino a portarla davanti al petto, avvicinando le scapole tra di loro.</li>
                    <li>Rilascia lentamente la barra fino a estendere completamente le braccia, mantenendo il controllo del movimento.</li>
                    <li>Ripeti l'esercizio per il numero desiderato di ripetizioni, mantenendo sempre una forma corretta.</li>
                </ol>
                <p>
                    La Lat Pulldown è particolarmente utile per sviluppare la forza e la massa muscolare nella parte superiore del corpo, ed è adatta sia ai principianti che agli atleti avanzati. Tuttavia, è importante eseguire l'esercizio con una tecnica corretta per evitare stress eccessivi sulle spalle e sulla schiena.
                </p>
                <iframe class="rounded-5" width="560" height="315" src="https://www.youtube.com/embed/P8QKoy5sjv8?si=w49fuYsZqBYGR6RM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            </div>
        </div>
    </div>
</div>
    <div class="container px-5 mt-5 img rounded-5 text-white p-3 w-90">
        <div class="content">
            <div class="row">
                <div class="col-12">
                    <div class="text-center mb-5">
                        <h1>Pec Deck (Butterfly Machine)</h1>
                        <img src="assets/img/2102_AA_PROJECT21_01_1123-1280x720.jpg" class="img-fluid rounded-5" alt="Pec Deck (Butterfly Machine)">
                    </div>

                    <p>
                        La <strong>Pec Deck</strong>, conosciuta anche come <strong>Butterfly Machine</strong>, è una macchina da palestra progettata per l'allenamento del petto, in particolare dei muscoli pettorali. Questo macchinario permette di eseguire movimenti di adduzione delle braccia, isolando efficacemente i muscoli del petto.
                    </p>
                    <h2>Come Usare la Pec Deck</h2>
                    <ol>
                        <li>Siediti sulla macchina con la schiena ben appoggiata allo schienale e i piedi ben appoggiati a terra.</li>
                        <li>Afferra le maniglie laterali con le braccia piegate a 90 gradi.</li>
                        <li>Spingi le maniglie verso il centro fino a farle incontrare davanti al petto, mantenendo i gomiti leggermente piegati.</li>
                        <li>Ritorna lentamente alla posizione di partenza, mantenendo il controllo del movimento e assicurandoti di non estendere eccessivamente le braccia.</li>
                        <li>Ripeti l'esercizio per il numero desiderato di ripetizioni, mantenendo sempre una forma corretta.</li>
                    </ol>
                    <p>
                        La Pec Deck è particolarmente utile per sviluppare la forza e la massa muscolare nel petto, ed è adatta sia ai principianti che agli atleti avanzati. Tuttavia, è importante eseguire l'esercizio con una tecnica corretta per evitare stress eccessivi sulle spalle.
                    </p>
                    <iframe class="rounded-5" width="560" height="315" src="https://www.youtube.com/embed/6dExVifvwR8?si=uojxh_iaFxCNGxWn" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>
    <div class="container px-5 mt-5 img rounded-5 text-white p-3 w-90">
        <div class="content">
            <div class="row">
                <div class="col-12">
                    <div class="text-center mb-5">
                        <h1>Pulley Machine</h1>
                        <img src="assets/img/2102_AA_PROJECT21_01_017-1280x720.jpg" class="img-fluid rounded-5" alt="Pulley Machine">
                    </div>

                    <p>
                        La <strong>Pulley Machine</strong>, conosciuta anche come macchina per le trazioni basse, è una macchina da palestra progettata per l'allenamento della schiena, dei bicipiti e dei muscoli del core. Questo macchinario permette di eseguire una varietà di esercizi di tirata, migliorando la forza e la stabilità della parte superiore del corpo.
                    </p>
                    <h2>Come Usare la Pulley Machine</h2>
                    <ol>
                        <li>Siediti sulla macchina con i piedi ben appoggiati sulle pedane e le ginocchia leggermente piegate.</li>
                        <li>Afferra la barra o la maniglia con una presa appropriata (palmi delle mani rivolti verso il corpo per una presa supina o verso il basso per una presa prona).</li>
                        <li>Mantieni la schiena dritta e il core attivato, inclinandoti leggermente indietro.</li>
                        <li>Tira la maniglia verso il tuo addome, avvicinando le scapole tra di loro e mantenendo i gomiti vicino al corpo.</li>
                        <li>Rilascia lentamente la maniglia fino a estendere completamente le braccia, mantenendo il controllo del movimento.</li>
                        <li>Ripeti l'esercizio per il numero desiderato di ripetizioni, mantenendo sempre una forma corretta.</li>
                    </ol>
                    <p>
                        La Pulley Machine è particolarmente utile per sviluppare la forza e la massa muscolare nella schiena, nei bicipiti e nel core. È adatta sia ai principianti che agli atleti avanzati. Tuttavia, è importante eseguire l'esercizio con una tecnica corretta per evitare stress eccessivi sulla schiena e sulle spalle.
                    </p>
                    <iframe class="rounded-5" width="560" height="315" src="https://www.youtube.com/embed/nqnBYu9bZTI?si=P12ILrD42yZuKeJ7" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>
    <div class="container px-5 mt-5 img rounded-5 text-white p-3 w-90">
        <div class="content">
            <div class="row">
                <div class="col-12">
                    <div class="text-center mb-5">
                        <h1>Leg Extension</h1>
                        <img src="assets/img/Leg-extension.png" class="img-fluid rounded-5" alt="Leg Extension Machine">
                    </div>

                    <p>
                        La <strong>Leg Extension</strong> è una macchina da palestra progettata per l'allenamento dei quadricipiti, i muscoli della parte anteriore della coscia. Questo macchinario permette di isolare e lavorare specificamente sui quadricipiti, migliorando la forza e la definizione muscolare delle gambe.
                    </p>
                    <h2>Come Usare la Leg Extension</h2>
                    <ol>
                        <li>Siediti sulla macchina con la schiena ben appoggiata allo schienale e i piedi posizionati sotto i cuscinetti imbottiti.</li>
                        <li>Regola il sedile in modo che le ginocchia siano allineate con il punto di rotazione della macchina.</li>
                        <li>Afferra le maniglie laterali per mantenere la stabilità durante l'esercizio.</li>
                        <li>Estendi le gambe verso l'alto fino a quando sono completamente dritte, contrarre i quadricipiti alla fine del movimento.</li>
                        <li>Ritorna lentamente alla posizione di partenza piegando le ginocchia, mantenendo il controllo del movimento.</li>
                        <li>Ripeti l'esercizio per il numero desiderato di ripetizioni, mantenendo sempre una forma corretta.</li>
                    </ol>
                    <p>
                        La Leg Extension è particolarmente utile per sviluppare la forza e la massa muscolare nei quadricipiti, ed è adatta sia ai principianti che agli atleti avanzati. Tuttavia, è importante eseguire l'esercizio con una tecnica corretta per evitare stress eccessivi sulle ginocchia.
                    </p>
                    <iframe class="rounded-5" width="560" height="315" src="https://www.youtube.com/embed/wRSr98kKUsg?si=rAezdqzZaSqyFoyj" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>
    <div class="container px-5 mt-5 img rounded-5 text-white p-3 w-90">
        <div class="content">
            <div class="row">
                <div class="col-12">
                    <div class="text-center mb-5">
                        <h1>Chest Press Machine</h1>
                        <img src="assets/img/Macchine-2.0-3.png" class="img-fluid rounded-5" alt="Chest Press Machine">
                    </div>

                    <p>
                        La <strong>Chest Press Machine</strong> è una macchina da palestra progettata per l'allenamento dei muscoli pettorali, delle spalle e dei tricipiti. Questo macchinario consente di eseguire movimenti di spinta orizzontale in modo controllato, migliorando la forza e la definizione dei muscoli della parte superiore del corpo.
                    </p>
                    <h2>Come Usare la Chest Press Machine</h2>
                    <ol>
                        <li>Siediti sulla macchina con la schiena ben appoggiata allo schienale e i piedi ben appoggiati a terra.</li>
                        <li>Afferra le maniglie con una presa salda, con i gomiti piegati a circa 90 gradi e i polsi allineati con i gomiti.</li>
                        <li>Spingi le maniglie in avanti fino a estendere completamente le braccia, contrarre i muscoli pettorali alla fine del movimento.</li>
                        <li>Ritorna lentamente alla posizione di partenza piegando i gomiti, mantenendo il controllo del movimento.</li>
                        <li>Ripeti l'esercizio per il numero desiderato di ripetizioni, mantenendo sempre una forma corretta.</li>
                    </ol>
                    <p>
                        La Chest Press Machine è particolarmente utile per sviluppare la forza e la massa muscolare nei pettorali, nelle spalle e nei tricipiti, ed è adatta sia ai principianti che agli atleti avanzati. Tuttavia, è importante eseguire l'esercizio con una tecnica corretta per evitare stress eccessivi sulle spalle e sui gomiti.
                    </p>
                    <iframe class="rounded-5" width="560" height="315" src="https://www.youtube.com/embed/lAkcFUulVn4?si=lais2MEbz6QJ-tB9" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>

    