<div class="img-container">
  <img class="img-fluid custom-img" src="assets/img/statua-di-zeus-ad-olimpia_839182-3205.avif" alt="">
</div>

<nav class="navbar navbar-expand-lg shadow-sm bg-light p-0 color mt-5 mb-3 rounded-5 sticky-top p-2">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Workout</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse pb" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        <a class="nav-link color-text pe-4" aria-current="page" [routerLink]="['/']" routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }">Home</a>
        <li class="nav-item"><a class="nav-link" (click)="scrollTo('chest')">Petto</a></li>
        <li class="nav-item"><a class="nav-link" (click)="scrollTo('back')">Schiena</a></li>
        <li class="nav-item"><a class="nav-link" (click)="scrollTo('shoulders')">Spalle</a></li>
        <li class="nav-item"><a class="nav-link" (click)="scrollTo('arms')">Braccia</a></li>
        <li class="nav-item"><a class="nav-link" (click)="scrollTo('legs')">Gambe</a></li>
        <li class="nav-item"><a class="nav-link" (click)="scrollTo('abs')">Addominali</a></li>
      </ul>
    </div>
  </div>
</nav>


<div class="container mt-4">
  <section id="chest" class="exercise-section">
    <h2 class="mt-5 mb-5 py-3 text-white ps-3 rounded-4 bg-custom">Petto</h2>
    <div class="padre px-3 py-3 rounded-5">
      <p class="mt-5 mb-5 ps-3 rounded-3 fs-5 text-white text-center">Panca piana con bilanciere</p>
      <div class="row">
        <div class="col-md-4 margin-mobile">
          <img class="img-fluid rounded-5" src="assets/img/petto/Panca-Piana-errore-setup (1).png" alt="">
        </div>
        <div class="col-md-4 margin-mobile">
          <img class="img-fluid rounded-5" src="assets/img/petto/Panca-Piana-traiettoria.png" alt="">
        </div>
        <div class="col-md-4 margin-mobile">
          <img class="img-fluid rounded-5" src="assets/img/petto/Panca-Piana-Muscoli-Coinvolti.png" alt="">
        </div>
      </div>
      <div class="row mt-4 mb-5 ">
        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/nclAIgM4NJE?si=g_rrTg9oMXKyMTUL"
          allowfullscreen height="350px"></iframe>
      </div>
    </div>
    <div class="padre px-3 py-3 rounded-5 mt-5">
      <p class="mt-5 mb-5 ps-3 rounded-3 fs-5 text-white text-center">Panca inclinata con bilanciere</p>
      <div class="row">
        <div class="col-md-4 margin-mobile">
          <img class="img-fluid rounded-5" src="assets/img/petto/Manubri-2.0-16.png" alt="">
        </div>
        <div class="col-md-4 margin-mobile">
          <img class="img-fluid rounded-5" src="assets/img/petto/Panca-inclinata-1.png" alt="">
        </div>
        <div class="col-md-4 margin-mobile">
          <img class="img-fluid rounded-5" src="assets/img/petto/Panca-inclinata.png" alt="">
        </div>
      </div>
      <div class="row mt-4">
        <iframe class="embed-responsive-item" width="560" height="315"
          src="https://www.youtube.com/embed/qC-NmNrY9fk?si=EPXeYLwlhPsUF7iW" title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          referrerpolicy="strict-origin-when-cross-origin" allowfullscreen height="350px"></iframe>
      </div>
    </div>
    <div class="padre px-3 py-3 rounded-5 mt-5">
      <p class="mt-5 mb-5 ps-3 rounded-3 fs-5 text-white text-center">Dips</p>
      <div class="row">
        <div class="col-md-4 margin-mobile">
          <img class="img-fluid h-100 rounded-5" src="assets/img/petto/53-scaled.jpg" alt="">
        </div>
        <div class="col-md-4 margin-mobile">
          <img class="img-fluid rounded-5" src="assets/img/petto/Dip.png" alt="">
        </div>
        <div class="col-md-4 margin-mobile">
          <img class="img-fluid rounded-5" src="assets/img/petto/Dip-Muscoli-Coinvolti.png" alt="">
        </div>
      </div>
      <div class="row mt-4">
        <iframe class="embed-responsive-item" width="560" height="315"
          src="https://www.youtube.com/embed/SLVwguvd6io?si=nk09w-pXVwkPT_ZK" title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          referrerpolicy="strict-origin-when-cross-origin" allowfullscreen height="350px"></iframe>
      </div>
    </div>
    <div class="padre  px-3 py-3 rounded-5 mt-5">
      <p class="mt-5 mb-5 ps-3 rounded-3 fs-5 text-white text-center">Push-up</p>
      <div class="row">
        <div class="col-md-4 margin-mobile">
          <img class="img-fluid rounded-5" src="assets/img/petto/Corpo-libero-2.0-3.png" alt="">
        </div>
        <div class="col-md-4 margin-mobile">
          <img class="img-fluid h-100 rounded-5" src="assets/img/petto/Piegamenti-Pesi.png" alt="">
        </div>
        <div class="col-md-4 margin-mobile">
          <img class="img-fluid rounded-5" src="assets/img/petto/Piegamenti-Muscoli.png" alt="">
        </div>
      </div>
      <div class="row mt-4">
        <iframe class="embed-responsive-item" width="560" height="315"
          src="https://www.youtube.com/embed/PdkqZqiCWas?si=iCqQSVe7sFXXrs3C" title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          referrerpolicy="strict-origin-when-cross-origin" allowfullscreen height="500px"></iframe>
      </div>
    </div>
  </section>

  <section id="back" class="exercise-section">
    <h2 class="mt-5 mb-5 py-3 text-white ps-3 rounded-4 bg-custom">Schiena</h2>
    <div class="row">
      <div class="padre px-3 py-3 rounded-5 mt-5">
        <p class="mt-5 mb-5 ps-3 rounded-3 fs-5 text-white text-center">Stacco da terra</p>
        <div class="row">
          <div class="col-md-4 margin-mobile">
            <img class="img-fluid rounded-5" src="assets/img/petto/Stacco.png" alt="">
          </div>
          <div class="col-md-4 margin-mobile">
            <img class="img-fluid rounded-5" src="assets/img/petto/Stacco-da-terra-piede.png" alt="">
          </div>
          <div class="col-md-4 margin-mobile">
            <img class="img-fluid h-100 rounded-5" src="assets/img/petto/Stacco-Muscoli-Coinvolti.png" alt="">
          </div>
        </div>
        <div class="row mt-4">
          <iframe class="embed-responsive-item" width="560" height="315"
            src="https://www.youtube.com/embed/d_KkA3UHOtk?si=MamDFyTYwyfT-OVF" title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            referrerpolicy="strict-origin-when-cross-origin" allowfullscreen height="500px"></iframe>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="padre px-3 py-3 rounded-5 mt-5">
        <p class="mt-5 mb-5 ps-3 rounded-3 fs-5 text-white text-center">Rematore con manubrio</p>
        <div class="row">
          <div class="col-md-4 margin-mobile">
            <img class="img-fluid  rounded-5" src="assets/img/petto/Manubri-2.0-12.png" alt="">
          </div>
          <div class="col-md-4 margin-mobile">
            <img class="img-fluid  rounded-5" src="assets/img/petto/Manubri-2.0-14.png" alt="">
          </div>
          <div class="col-md-4 margin-mobile">
            <img class="img-fluid h-100  rounded-5" src="assets/img/petto/Rematore-Manubrio-Muscoli-Coinvolti.png"
              alt="">
          </div>
        </div>
        <div class="row mt-4">
          <iframe class="embed-responsive-item" width="560" height="315"
            src="https://www.youtube.com/embed/BioWHk5PxVE?si=aRAeoOcGK-OxCCnX" title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            referrerpolicy="strict-origin-when-cross-origin" allowfullscreen height="500px"></iframe>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="padre px-3 py-3 rounded-5 mt-5">
        <p class="mt-5 mb-5 ps-3 rounded-3 fs-5 text-white text-center">Pull-up</p>
        <div class="row">
          <div class="col-md-4 margin-mobile">
            <img class="img-fluid  rounded-5" src="assets/img/petto/Trazioni.png" alt="">
          </div>
          <div class="col-md-4 margin-mobile">
            <img class="img-fluid  rounded-5" src="assets/img/petto/Trazioni-alla-sbarra.png" alt="">
          </div>
          <div class="col-md-4 margin-mobile">
            <img class="img-fluid h-100  rounded-5" src="assets/img/petto/Trazioni-Muscoli-Coinvolti.png" alt="">
          </div>
        </div>
        <div class="row mt-4">
          <iframe class="embed-responsive-item" width="560" height="315"
            src="https://www.youtube.com/embed/nSj7QKBbvWA?si=q50JUZSQmbk5vOFr" title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            referrerpolicy="strict-origin-when-cross-origin" allowfullscreen height="500px"></iframe>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="padre px-3 py-3 rounded-5 mt-5">
        <p class="mt-5 mb-5 ps-3 rounded-3 fs-5 text-white text-center">Lat Pulldown</p>
        <div class="row">
          <div class="col-md-4 margin-mobile">
            <img class="img-fluid rounded-5" src="assets/img/petto/27-scaled.jpg" alt="">
          </div>
          <div class="col-md-4 margin-mobile">
            <img class="img-fluid rounded-5" src="assets/img/petto/26-scaled.jpg" alt="">
          </div>
          <div class="col-md-4 margin-mobile">
            <img class="img-fluid h-100 rounded-5" src="assets/img/petto/Pull-Down-muscoli-coinvolti.png" alt="">
          </div>
        </div>
        <div class="row mt-4">
          <iframe class="embed-responsive-item" width="560" height="315"
            src="https://www.youtube.com/embed/fTLCRjluq6U?si=fz21hOV48VjEB5KY" title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            referrerpolicy="strict-origin-when-cross-origin" allowfullscreen height="500px"></iframe>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="padre px-3 py-3 rounded-5 mt-5">
        <p class="mt-5 mb-5 ps-3 rounded-3 fs-5 text-white text-center">T-Bar Row</p>
        <div class="row">
          <div class="col-md-4 margin-mobile">
            <img class="img-fluid rounded-5" src="assets/img/schiena/2102_AA_PROJECT21_01_029.jpg" alt="">
          </div>
          <div class="col-md-4 margin-mobile">
            <img class="img-fluid rounded-5" src="assets/img/schiena/2102_AA_PROJECT21_01_031.jpg" alt="">
          </div>
          <div class="col-md-4 margin-mobile">
            <img class="img-fluid h-100 rounded-5" src="assets/img/schiena/Pulley-Muscoli-Coinvolti-2.png" alt="">
          </div>
        </div>
        <div class="row mt-4">
          <iframe class="embed-responsive-item" width="560" height="315"
            src="https://www.youtube.com/embed/nqnBYu9bZTI?si=M_pmbsOSBjXZSKwI" title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            referrerpolicy="strict-origin-when-cross-origin" allowfullscreen height="500px"></iframe>
        </div>
      </div>
    </div>
  </section>

  <section id="shoulders" class="exercise-section">
    <div class="row">
      <h2 class="mt-5 mb-5 py-3 text-white ps-3 rounded-4 bg-custom">Spalle</h2>
      <div class="padre px-3 py-3 rounded-5 mt-5">
        <p class="mt-5 mb-5 ps-3 rounded-3 fs-5 text-white text-center">Lento Avanti</p>
        <div class="row">
          <div class="col-md-6 margin-mobile">
            <img class="img-fluid  rounded-5" src="assets/img/spalle/Esercizi-76.png" width="800" alt="">
          </div>
          <div class="col-md-6 margin-mobile">
            <img class="img-fluid  rounded-5" src="assets/img/spalle/Esercizi-77.png" alt="">
          </div>
        </div>
        <div class="row mt-4">
          <iframe class="embed-responsive-item" width="560" height="315"
            src="https://www.youtube.com/embed/xXURCvkZ_2c?si=pjI_PcdWdKV_IOfd" title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            referrerpolicy="strict-origin-when-cross-origin" allowfullscreen height="500px"></iframe>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="padre px-3 py-3 rounded-5 mt-5">
        <p class="mt-5 mb-5 ps-3 rounded-3 fs-5 text-white text-center">Alzate laterali con manubri</p>
        <div class="row">
          <div class="col-md-4 margin-mobile">
            <img class="img-fluid  rounded-5" src="assets/img/spalle/Manubri-2.0-9.png" alt="">
          </div>
          <div class="col-md-4 margin-mobile">
            <img class="img-fluid  rounded-5" src="assets/img/spalle/Alzate-laterali-presa-neutra.png" alt="">
          </div>
          <div class="col-md-4 margin-mobile">
            <img class="img-fluid h-100  rounded-5" src="assets/img/spalle/Alzate-Laterali-Muscoli-Coinvolti-1.png"
              alt="">
          </div>
        </div>
        <div class="row mt-4">
          <iframe class="embed-responsive-item" width="560" height="315"
            src="https://www.youtube.com/embed/rJXTfft9F2c?si=YdWd9kzDzU7-aMmd" title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            referrerpolicy="strict-origin-when-cross-origin" allowfullscreen height="500px"></iframe>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="padre px-3 py-3 rounded-5 mt-5">
        <p class="mt-5 mb-5 ps-3 rounded-3 fs-5 text-white text-center">Alzate laterali posteriori</p>
        <div class="row">
          <div class="col-md-6 margin-mobile">
            <img class="img-fluid rounded-5" src="assets/img/spalle/Manubri-2.0-23.png" alt="">
          </div>
          <div class="col-md-6 margin-mobile">
            <img class="img-fluid rounded-5" src="assets/img/spalle/Alzate-Posteriori-Muscoli-Coinvolti.png" alt="">
          </div>
        </div>
        <div class="row mt-4">
          <iframe class="embed-responsive-item" width="560" height="315"
            src="https://www.youtube.com/embed/lIjlGCsyiPQ?si=R7h8K2vV-CBIock1" title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            referrerpolicy="strict-origin-when-cross-origin" allowfullscreen height="500px"></iframe>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="padre px-3 py-3 rounded-5 mt-5">
        <p class="mt-5 mb-5 ps-3 rounded-3 fs-5 text-white text-center">Rematore con bilanciere</p>
        <div class="row">
          <div class="col-md-4 margin-mobile">
            <img class="img-fluid rounded-5" src="assets/img/spalle/Bilanciere-2.0-4.png" alt="">
          </div>
          <div class="col-md-4 margin-mobile">
            <img class="img-fluid rounded-5" src="assets/img/spalle/Bilanciere-2.0-5.png" alt="">
          </div>
          <div class="col-md-4 margin-mobile">
            <img class="img-fluid rounded-5" src="assets/img/spalle/Rematore-bilanciere-muscoli-coinvolti.png" alt="">
          </div>
        </div>
        <div class="row mt-4">
          <iframe class="embed-responsive-item" width="560" height="315"
            src="https://www.youtube.com/embed/BioWHk5PxVE?si=YFfuQou1E0N1H07R" title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            referrerpolicy="strict-origin-when-cross-origin" allowfullscreen height="500px"></iframe>
        </div>
      </div>
    </div>
  </section>

  <section id="arms" class="exercise-section">
    <h2 class="mt-5 mb-5 py-3 text-white ps-3 rounded-4 bg-custom">Braccia</h2>
    <div class="row">
      <div class="padre px-3 py-3 rounded-5 mt-5">
        <p class="mt-5 mb-5 ps-3 rounded-3 fs-5 text-white text-center">Curl con bilanciere</p>
        <div class="row">
          <div class="col-md-4 margin-mobile">
            <img class="img-fluid rounded-5" src="assets/img/spalle/Curl-bilanciere-dritto.png" alt="">
          </div>
          <div class="col-md-4 margin-mobile">
            <img class="img-fluid rounded-5" src="assets/img/spalle/Curl-bilanciere-EZ-presa-stretta.png" alt="">
          </div>
          <div class="col-md-4 margin-mobile">
            <img class="img-fluid rounded-5" src="assets/img/spalle/Curl-Bilanciere-Muscoli-Coinvolti.png" alt="">
          </div>
        </div>
        <div class="row mt-4">
          <iframe class="embed-responsive-item" width="560" height="315"
            src="https://www.youtube.com/embed/9U_Um9aE2I8?si=4NC6zBE9OVaEkJgm" title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            referrerpolicy="strict-origin-when-cross-origin" allowfullscreen height="500px"></iframe>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="row">
          <div class="padre px-3 py-3 rounded-5 mt-5margin-mobile ">
            <p class="mt-5 mb-5 ps-3 rounded-3 fs-5 text-white text-center">Curl con manubri</p>
            <img class="img-fluid rounded-5" src="assets/img/spalle/Curl-con-manubri-in-piedi.png" alt="">
          </div>
          <div class="padre px-3 py-3 rounded-5 mt-5 margin-mobile">
            <p class="mt-5 mb-5 ps-3 rounded-3 fs-5 text-white text-center">Curl su panca inclinata</p>
            <img class="img-fluid rounded-5" src="assets/img/spalle/Manubri-2.0-1.png" alt="">
          </div>
          <div class="padre px-3 py-3 rounded-5 mt-5 margin-mobile">
            <p class="mt-5 mb-5 ps-3 rounded-3 fs-5 text-white text-center">Scott Curl e Spider Curl</p>
            <img class="img-fluid rounded-5" src="assets/img/spalle/Manubri-2.0 (1).png" alt="">
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="padre px-3 py-3 rounded-5 mt-5">
        <p class="mt-5 mb-5 ps-3 rounded-3 fs-5 text-white text-center">French Press</p>
        <div class="row">
          <div class="col-md-4 margin-mobile">
            <img class="img-fluid rounded-5" src="assets/img/braccia/Bilanciere-2.0-10.png" alt="">
          </div>
          <div class="col-md-4 margin-mobile">
            <img class="img-fluid rounded-5" src="assets/img/braccia/French-press.png" alt="">
          </div>
          <div class="col-md-4 margin-mobile">
            <img class="img-fluid rounded-5" src="assets/img/braccia/French-Press-muscoli-coinvolti.png" alt="">
          </div>
        </div>
        <div class="row mt-4">
          <iframe class="embed-responsive-item" width="560" height="315"
            src="https://www.youtube.com/embed/FANzZyWdmbs?si=vFP6qSfzZj0yUqGg" title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            referrerpolicy="strict-origin-when-cross-origin" allowfullscreen height="500px"></iframe>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="padre px-3 py-3 rounded-5 mt-5">
        <p class="mt-5 mb-5 ps-3 rounded-3 fs-5 text-white text-center">Pushdown con cavi</p>
        <div class="row">
          <div class="col-md-4 margin-mobile">
            <img class="img-fluid rounded-5" src="assets/img/braccia/pd-errore.png" alt="">
          </div>
          <div class="col-md-4 margin-mobile">
            <img class="img-fluid rounded-5" src="assets/img/braccia/Push-down-errore-gomito-parte-gia-esteso-1.png"
              alt="">
          </div>
          <div class="col-md-4">
            <img class="img-fluid rounded-5" src="assets/img/braccia/Push-down-errore-gomito-si-sposta-in-avanti.png"
              alt="">
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="legs" class="exercise-section">
    <h2 class="mt-5 mb-5 py-3 text-white ps-3 rounded-4 bg-custom">Gambe</h2>
    <div class="row">
      <div class="padre px-3 py-3 rounded-5 mt-5">
        <p class="mt-5 mb-5 ps-3 rounded-3 fs-5 text-white text-center">Squat</p>
        <div class="row">
          <div class="col-md-4 margin-mobile">
            <img class="img-fluid rounded-5" src="assets/img/gambe/Manubri-2.0-25.png" alt="">
          </div>
          <div class="col-md-4 margin-mobile">
            <img class="img-fluid rounded-5" src="assets/img/gambe/Squat-esecuzione-corretta.png" alt="">
          </div>
          <div class="col-md-4 margin-mobile">
            <img class="img-fluid rounded-5" src="assets/img/gambe/Squat-piedi.png" alt="">
          </div>
        </div>
        <div class="row mt-4">
          <iframe class="embed-responsive-item" width="560" height="315"
            src="https://www.youtube.com/embed/nan5BHL1kaY?si=08NgqNSjzOUBcVVf" title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            referrerpolicy="strict-origin-when-cross-origin" allowfullscreen height="500px"></iframe>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="padre px-3 py-3 rounded-5 mt-5">
        <p class="mt-5 mb-5 ps-3 rounded-3 fs-5 text-white text-center">Leg Press</p>
        <div class="row">
          <div class="col-md-6 margin-mobile">
            <img class="img-fluid rounded-5" src="assets/img/gambe/Esercizi-2.png" alt="">
          </div>
          <div class="col-md-6 margin-mobile">
            <img class="img-fluid rounded-5" src="assets/img/gambe/Esercizi-3.png" alt="">
          </div>
        </div>
        <div class="row mt-4">
          <iframe class="embed-responsive-item" width="560" height="315"
            src="https://www.youtube.com/embed/LMTyPl_oo38?si=b19a_i3_4wb6Pzin" title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            referrerpolicy="strict-origin-when-cross-origin" allowfullscreen height="500px"></iframe>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="padre px-3 py-3 rounded-5 mt-5">
        <p class="mt-5 mb-5 ps-3 rounded-3 fs-5 text-white text-center">Leg Curl</p>
        <div class="row">
          <div class="col-md-6 margin-mobile">
            <img class="img-fluid rounded-5" src="assets/img/gambe/AdobeStock_168076045.jpeg" alt="">
          </div>
          <div class="col-md-6 margin-mobile">
            <img class="img-fluid rounded-5" src="assets/img/gambe/AdobeStock_85302009.jpeg" alt="">
          </div>
        </div>
        <div class="row mt-4">
          <iframe class="embed-responsive-item" width="560" height="315"
            src="https://www.youtube.com/embed/1zevKZn_n1E?si=fDEnovBnZmu5Vfzf" title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            referrerpolicy="strict-origin-when-cross-origin" allowfullscreen height="500px"></iframe>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="padre px-3 py-3 rounded-5 mt-5">
        <p class="mt-5 mb-5 ps-3 rounded-3 fs-5 text-white text-center">Stacco con Bilanciere</p>
        <div class="row">
          <div class="col-md-3 margin-mobile">
            <img class="img-fluid rounded-5" src="assets/img/gambe/Stacco.png" alt="">
          </div>
          <div class="col-md-3 margin-mobile">
            <img class="img-fluid rounded-5" src="assets/img/gambe/Stacco-da-terra-piede.png" alt="">
          </div>
          <div class="col-md-3 margin-mobile">
            <img class="img-fluid rounded-5" src="assets/img/gambe/stacco-da-terra-presa.png" alt="">
          </div>
          <div class="col-md-3 margin-mobile">
            <img class="img-fluid rounded-5" src="assets/img/gambe/Stacco-Muscoli-Coinvolti.png" alt="">
          </div>
        </div>
        <div class="row mt-4">
          <iframe class="embed-responsive-item" width="560" height="315"
            src="https://www.youtube.com/embed/d_KkA3UHOtk?si=tHfwNtB3vJ9wVgjN" title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            referrerpolicy="strict-origin-when-cross-origin" allowfullscreen height="500px"></iframe>
        </div>
      </div>
    </div>
  </section>

  <section id="abs" class="exercise-section">
    <h2 class="mt-5 mb-5 py-3 text-white ps-3 rounded-4 bg-custom">Addominali</h2>
    <div class="row">
      <div class="col-md-12">
        <div class="row">
          <div class="padre px-3 py-3 rounded-5 mt-5 margin-mobile">
            <p class="mt-5 mb-5 ps-3 rounded-3 fs-5 text-white text-center">Crunch (facile)</p>
            <img class="img-fluid" src="assets/img/abs/Corpo-libero-2.0-9 (1).png" alt="">
          </div>
          <div class="padre px-3 py-3 rounded-5 mt-5 margin-mobile">
            <p class="mt-5 mb-5 ps-3 rounded-3 fs-5 text-white text-center">Crunch inverso (facile)</p>
            <img class="img-fluid" src="assets/img/abs/Corpo-libero-2.0-14.png" alt="">
          </div>
          <div class="padre px-3 py-3 rounded-5 mt-5 margin-mobile">
            <p class="mt-5 mb-5 ps-3 rounded-3 fs-5 text-white text-center">Sit-up (facile-intermedio)</p>
            <img class="img-fluid" src="assets/img/abs/Corpo-libero-2.0-15.png" alt="">
          </div>
          <div class="padre px-3 py-3 rounded-5 mt-5 margin-mobile">
            <p class="mt-5 mb-5 ps-3 rounded-3 fs-5 text-white text-center">Leg Raise (intermedio)</p>
            <img class="img-fluid" src="assets/img/abs/Corpo-libero-2.0-12.png" alt="">
          </div>
          <div class="padre px-3 py-3 rounded-5 mt-5 margin-mobile">
            <p class="mt-5 mb-5 ps-3 rounded-3 fs-5 text-white text-center">Dragon Flag (difficile)</p>
            <img class="img-fluid" src="assets/img/abs/1-scaled.jpg" alt="">
          </div>
        </div>
        <div class="row mt-4">
          <iframe class="embed-responsive-item" width="560" height="315"
            src="https://www.youtube.com/embed/NJv_Cnx88LM?si=wtfeuXl7FhDgkZ1c" title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            referrerpolicy="strict-origin-when-cross-origin" allowfullscreen height="500px"></iframe>
        </div>
      </div>
    </div>