<div class="container-fluid d-flex vh-100">
    <div class="row">
        <div class="col-6">
            <div class="form-container d-flex justify-content-center">
                <h1 class="display-4 fw-normal mt-4 text-center text-dark"> Registrati </h1>
                <form class="form" #signupForm="ngForm" (ngSubmit)="onSubmit(signupForm)">
                    <div class="flex-column">
                        <label class="my-2">Username </label>
                        <div class="inputForm">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                class="bi bi-person-fill" viewBox="0 0 16 16">
                                <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6" />
                            </svg>
                            <input type="text" class="input" placeholder="Enter your username" name="username"
                                id="username" ngModel>
                        </div>
                        <label class="my-2"> Name </label>
                        <div class="inputForm">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                class="bi bi-arrow-return-right" viewBox="0 0 16 16">
                                <path fill-rule="evenodd"
                                    d="M1.5 1.5A.5.5 0 0 0 1 2v4.8a2.5 2.5 0 0 0 2.5 2.5h9.793l-3.347 3.346a.5.5 0 0 0 .708.708l4.2-4.2a.5.5 0 0 0 0-.708l-4-4a.5.5 0 0 0-.708.708L13.293 8.3H3.5A1.5 1.5 0 0 1 2 6.8V2a.5.5 0 0 0-.5-.5" />
                            </svg>
                            <input type="text" class="input" placeholder="Enter your name" name="name" id="name"
                                ngModel>
                        </div>
                        <label class="my-2"> Surname </label>
                        <div class="inputForm">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                class="bi bi-arrow-return-right" viewBox="0 0 16 16">
                                <path fill-rule="evenodd"
                                    d="M1.5 1.5A.5.5 0 0 0 1 2v4.8a2.5 2.5 0 0 0 2.5 2.5h9.793l-3.347 3.346a.5.5 0 0 0 .708.708l4.2-4.2a.5.5 0 0 0 0-.708l-4-4a.5.5 0 0 0-.708.708L13.293 8.3H3.5A1.5 1.5 0 0 1 2 6.8V2a.5.5 0 0 0-.5-.5" />
                            </svg>
                            <input type="text" class="input" placeholder="Enter your surname" name="surname"
                                id="surname" ngModel>
                        </div>
                        <label class="my-2">Email </label>
                        <div class="inputForm">
                            <svg height="20" viewBox="0 0 32 32" width="20" xmlns="http://www.w3.org/2000/svg">
                                <g id="Layer_3" data-name="Layer 3">
                                    <path
                                        d="m30.853 13.87a15 15 0 0 0 -29.729 4.082 15.1 15.1 0 0 0 12.876 12.918 15.6 15.6 0 0 0 2.016.13 14.85 14.85 0 0 0 7.715-2.145 1 1 0 1 0 -1.031-1.711 13.007 13.007 0 1 1 5.458-6.529 2.149 2.149 0 0 1 -4.158-.759v-10.856a1 1 0 0 0 -2 0v1.726a8 8 0 1 0 .2 10.325 4.135 4.135 0 0 0 7.83.274 15.2 15.2 0 0 0 .823-7.455zm-14.853 8.13a6 6 0 1 1 6-6 6.006 6.006 0 0 1 -6 6z">
                                    </path>
                                </g>
                            </svg>
                            <input type="text" class="input" placeholder="Enter your Email" name="email" id="email"
                                ngModel>
                        </div>
                    </div>
                    <div class="flex-column">
                        <label class="my-2">Password </label>
                        <div class="inputForm">
                            <svg height="20" viewBox="-64 0 512 512" width="20" xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="m336 512h-288c-26.453125 0-48-21.523438-48-48v-224c0-26.476562 21.546875-48 48-48h288c26.453125 0 48 21.523438 48 48v224c0 26.476562-21.546875 48-48 48zm-288-288c-8.8125 0-16 7.167969-16 16v224c0 8.832031 7.1875 16 16 16h288c8.8125 0 16-7.167969 16-16v-224c0-8.832031-7.1875-16-16-16zm0 0">
                                </path>
                                <path
                                    d="m304 224c-8.832031 0-16-7.167969-16-16v-80c0-52.929688-43.070312-96-96-96s-96 43.070312-96 96v80c0 8.832031-7.167969 16-16 16s-16-7.167969-16-16v-80c0-70.59375 57.40625-128 128-128s128 57.40625 128 128v80c0 8.832031-7.167969 16-16 16zm0 0">
                                </path>
                            </svg>
                            <input type="password" class="input" placeholder="Enter your Password" name="password"
                                id="password" ngModel>
                        </div>
                        <div class="d-flex justify-content-center mt-4 ,mb-1">
                            <button type="submit" [disabled]="signupForm.invalid"
                                class="btn btn-outline-dark w-50 m-auto">Passa al tuo accesso </button>
                        </div>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>