.product-img {
    max-width: 100%; /* Assicura che l'immagine non superi la larghezza del contenitore */
    height: auto; /* Mantiene le proporzioni dell'immagine */
    max-height: 150px; /* Imposta l'altezza massima dell'immagine */
    object-fit: contain;
    width: 80%;
    margin: 0 auto; 
  }
  .bg-butt{
    background-image: url("/assets/img/workout-limitless-endurance-gym-colorful-smoke-3556x2000-929.jpg") !important;
    background-position: 0% 20%;
  }
  .img-container {
    width: 100%; /* Ensures the container takes full width of its parent */
    height: 80vh; /* Adjust the height as needed */
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
  }
  
  .custom-img {
    width: 90%; /* Ensures the image takes full width of its container */
    height: 100%;
    border-radius: 50px;
    object-fit: cover; /* Maintains aspect ratio and covers the container */
    object-position: top; /* Positions the image towards the top */
  
  }
  .alt{
    height: 400px !important;
  }
  @media screen and (max-width: 768px) {
    .img-container {
        height: 50vh; /* Altezza ridotta a 50% della viewport height sui dispositivi mobili */
    }
  }
